In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os 

#regex
import re

In [59]:
#create a dataframe from csv file

cwd = os.getcwd()

df = pd.read_csv(cwd+"/BA_reviews.csv", index_col=0)

In [60]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | While BA may have made some...,5.0,23rd June 2024,Canada
1,✅ Trip Verified | British Airways new Club Sui...,3.0,23rd June 2024,Canada
2,"✅ Trip Verified | Four very pleasant, on time...",5.0,18th June 2024,United Kingdom
3,Not Verified | We travel extensively over 25...,9.0,18th June 2024,United Kingdom
4,✅ Trip Verified | Flight delayed an hour due ...,2.0,17th June 2024,United Kingdom

In [61]:
df['verified'] = df.reviews.str.contains("Trip Verified")

In [62]:
df['verified']

0        True
1        True
2        True
3       False
4        True
        ...
3495    False
3496    False
3497    False
3498    False
3499    False
Name: verified, Length: 3500, dtype: bool

### Cleaning Reviews

We will extract the column of reviews into a separate dataframe and clean it for semantic analysis

In [63]:
import re
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [64]:
import nltk
print(nltk.data.path)

['/Users/vinayakpachauri/nltk_data', '/opt/anaconda3/nltk_data', '/opt/anaconda3/share/nltk_data', '/opt/anaconda3/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data', '/Users/vinayakpachauri/nltk_data', '/Users/vinayakpachauri/nltk_data', '/Users/vinayakpachauri/nltk_data/corpora/stopwords', '/Users/vinayakpachauri/nltk_data/corpora/wordnet', '/Users/vinayakpachauri/nltk_data/corpora/stopwords', '/Users/vinayakpachauri/nltk_data/corpora/wordnet']

In [65]:
import os

print(os.listdir('/Users/vinayakpachauri/nltk_data/corpora'))

['stopwords', 'wordnet.zip', 'stopwords.zip']

In [66]:
import os
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

# Set the NLTK_DATA environment variable
os.environ['NLTK_DATA'] = '/Users/vinayakpachauri/nltk_data'

# Ensure the necessary NLTK corpora are downloaded
nltk.download('stopwords', download_dir='/Users/vinayakpachauri/nltk_data')
nltk.download('wordnet', download_dir='/Users/vinayakpachauri/nltk_data')

lemma = WordNetLemmatizer()

reviews_data = df.reviews.str.strip("✅ Trip Verified |")

# Create an empty list to collect cleaned data corpus
corpus = []

# Loop through each review, remove punctuations, small case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]', ' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/vinayakpachauri/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/vinayakpachauri/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [67]:
import nltk

print(nltk.data.path)

['/Users/vinayakpachauri/nltk_data', '/opt/anaconda3/nltk_data', '/opt/anaconda3/share/nltk_data', '/opt/anaconda3/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data', '/Users/vinayakpachauri/nltk_data', '/Users/vinayakpachauri/nltk_data', '/Users/vinayakpachauri/nltk_data/corpora/stopwords', '/Users/vinayakpachauri/nltk_data/corpora/wordnet', '/Users/vinayakpachauri/nltk_data/corpora/stopwords', '/Users/vinayakpachauri/nltk_data/corpora/wordnet']

In [68]:
from nltk.corpus import stopwords
from nltk.corpus import wordnet as wn

stopwords_path = '/Users/vinayakpachauri/nltk_data/corpora/stopwords'
wordnet_path = '/Users/vinayakpachauri/nltk_data/corpora/wordnet'

nltk.data.path.append(stopwords_path)
nltk.data.path.append(wordnet_path)

stopwords.words('english')
wn.synsets('dog')

[Synset('dog.n.01'),
 Synset('frump.n.01'),
 Synset('dog.n.03'),
 Synset('cad.n.01'),
 Synset('frank.n.02'),
 Synset('pawl.n.01'),
 Synset('andiron.n.01'),
 Synset('chase.v.01')]

In [69]:
df['corpus'] = corpus

In [57]:
df.head()

        date
0 2024-06-18
1 2023-07-03
2 2022-08-22

### Cleaning/Format Date

In [38]:
df.dtypes

reviews      object
stars       float64
date         object
country      object
verified       bool
corpus       object
dtype: object

In [74]:
import pandas as pd
import re

In [75]:
# convert the date to datetime format

df.date = pd.to_datetime(df.date)

In [76]:
df.dtypes

date    datetime64[ns]
dtype: object

In [77]:
df.date.head()

0   2024-06-18
1   2023-07-03
2   2022-08-22
Name: date, dtype: datetime64[ns]

### Cleaning rating with stars

In [84]:
import pandas as pd
import numpy as np

In [88]:
import os 

cwd= os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")

In [89]:
print(df.columns)

Index(['date'], dtype='object')